@import "./scss/variables";
@import "./scss/mapa";

.app {
	max-width: 960px;
	margin: auto;
	height: 800px;
	#mapa {
		opacity: 1;
		transition: 1s ease-in opacity;
		position: relative;
	}
}


@media (max-width: 960px) AND (min-width: 641px) {
	.app {
		margin: 0 3%;
	}
}

@media (max-width: 640px) {
	.app {
		width: 100vw;
		margin-left: -20px;
		height: 600px;
	}
}
