.mapa {
  &__card {
    background: white;
    border-radius: 8px;
    border: solid 1px #d0d8e4;
    max-width: 200px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &-header {
      background-size: 100% 100%;
      border-top-right-radius: 7px;
      border-top-left-radius: 7px;
      margin: 0px;
      height: 80px;
      width: 100%;

      button {        
        border: none;
        margin-left: 1px;
        border-radius: 23px;
        padding: 2px 9px;
        color: #fff;
        margin: 4px;
        opacity: .9;

        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }

    }
    &-content {      
      padding: 1rem;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: flex;
          align-items: center;
          color: #5c6473;

          a, span {
            margin-left: 10px;
          }
        }
        .lista-nome {
          font-weight: bold;
        }
      }
    }
  }

  .list {
    position: absolute;
    width: 250px;
    bottom: 0;
    margin-bottom: 15px;
    right: 5px;
  
    .card {
      display: flex;
      flex-direction: column;
    }

    .card-header{
      background: #d0d8e4;
      border-top-left-radius: 10px;  
      border-top-right-radius: 10px;
      border-top: #aeb5c0 1px solid;
      border-left: #aeb5c0 1px solid;
      border-right: #aeb5c0 1px solid;
      padding: 1px;
      cursor: pointer;
      font-size: 13px;
  
      &-title {
        margin-left: 5px;
      }
    }
  
    .card-content {
      background-color: #fff;
      border-left: #aeb5c0 1px solid;
      border-right: #aeb5c0 1px solid;
      display: flex;
      justify-content: center;
      padding: 15px;
  
      ul {
        list-style: none;
        margin: 0;
        margin-bottom: 5px;
        padding: 0;
  
        li {
          margin: 6px;
          cursor: pointer;
          span {
            text-decoration: none;
            color: #5f6368;

            &:hover {
              opacity: 0.9;
            }
          }
        }
      }
  
      .endpoint {
        font-size: 14pt;
        color: #fff;
        margin-bottom: 6px;
        text-align: center;
        padding: 5px;
        
        &.andamento {
          background-color: #62b2ed;
        }
  
        &.implantados {
          background-color: #5a67d7;
        }
      }
    }  
  }
}