.mapa {
  height: 100%;
  &__card {
    background: white;
    border: solid 1px #d0d8e4;
    width: 320px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Roboto, Arial, sans-serif;
    &-header {
      background-size: 100% 100%;
      margin: 0px;
      height: 135px;
      width: 100%;

      button {        
        border: none;
        margin-right: 1px;
        border-radius: 23px;
        padding: 2px 9px;
        color: #fff;
        margin: 4px;
        opacity: .9;
        float: right;

        &:hover {
          cursor: pointer;
          opacity: 1;
        }
      }

    }
    &-content {      
      padding: 1rem;
      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: flex;
          align-items: stretch;
          color: #5c6473;
          h3 {
            margin: 0;
            color: #000;
            font-family: Roboto, Arial, sans-serif;
            font-weight: 900;
            font-size: 20px;
            line-height: initial;
          }
          div:nth-child(even){
            display: flex;
            flex-direction: column;
            justify-content: center;
            p, a {
              font-family: Roboto, Arial, sans-serif;
              font-size: 14px;
              line-height: initial;
            }
            p {
              margin-top: 0.5em;
              margin-bottom: 0.5em;
            }
            a {
              color: #434190;
            }
          }
          img {
            max-width: unset !important;
            width: 51px;
          }
          @media (max-width: 640px) {
            img {
              width: 40px;
            }
          }
        }
        .lista-nome {
          font-weight: bold;
        }
      }
    }
  }

  .list {
    position: absolute;
    width: 250px;
    bottom: 0;
    margin-bottom: 15px;
    right: 5px;
  
    .card {
      display: flex;
      flex-direction: column;
      font-family: Roboto, Arial, sans-serif;

      & a {
        text-decoration: none;
      }
    }

    .card-header{
      background: #d0d8e4;
      border-top: #aeb5c0 1px solid;
      border-left: #aeb5c0 1px solid;
      border-right: #aeb5c0 1px solid;
      padding: 1px;
      cursor: pointer;
      font-family: Roboto, Arial, sans-serif;
      font-size: 13px;
  
      &-title {
        margin-left: 5px;
        font-family: Roboto, Arial, sans-serif;
      }

      & span {
        color: #4d5565;
        font-size: 14pt;
        margin-left: 15px;
        vertical-align: super;
      }
    }
  
    .card-content {
      background-color: #fff;
      border-left: #aeb5c0 1px solid;
      border-right: #aeb5c0 1px solid;
      display: flex;
      justify-content: center;
      padding: 15px;
  
      ul {
        list-style: none;
        margin: 0;
        margin-bottom: 5px;
        padding: 0;
  
        li {
          margin: 6px;
          cursor: pointer;
          span {
            text-decoration: none;
            color: #5f6368;

            &:hover {
              opacity: 0.9;
            }
          }
        }
      }
  
      .endpoint {
        font-size: 14pt;
        color: #fff;
        margin-bottom: 6px;
        text-align: center;
        padding: 5px;
        
        &.andamento {
          background-color: #62b2ed;
        }
  
        &.implantados {
          background-color: #5a67d7;
        }
      }
    }  
  }
}
